.backToAmazon-button{
  color: rgb(0, 113, 113);
}

.backToAmazon-button:hover{
  color: green;
}

.priceAndStcok-status{
  color: rgb(0, 118, 0);
}

.addToCart-button:hover{
  background-color: rgb(193, 161, 0);
}

.addToCart-button:active{
  opacity: 0.3;
}

.addToCart-button{
  background-color: rgb(255, 216, 20);
  border-radius: 20px;
  color: black;
  height: 40px;
  width: 100px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  margin-right: 16px;
  transition: opacity 0.15s;
  transition: background-color 0.15s;
}

.buyNow-button{
  background-color: rgb(255, 164, 28);
  border-radius: 20px;
  color: black;
  height: 40px;
  width: 100px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  margin-right: 8px;
  transition: opacity 0.15s;
}

.buyNow-button:active{
  opacity: 0.8;
}